:root {
	--bg-color: #ffffff;
	--select-color: #f6f6f6;
	--secondary-foreground: #bbcde5;
	--secondary-bg: #ebebeb;
	--border-color: #aaaaaa;
	--accent-color: #008ee0;
	--move-color: #bbcde5;
	--pin-color: #fdfcdc;
	--foreground-color: #000000;
	--button-hover-color: #222222;
	--shadow-color: #000000;
	--input-color: #f9f8f8;
	--sans-font: 'IBM Plex Sans', sans-serif;
	--serif-font: 'IBM Plex Serif', Serif;
	--mono-font: 'Iosevka SS05', monospace;
	--titlebar-height: 28px;
	--status-bar-height: 20px;
	--titlebar-font-size: 13px;
}


* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

html,
body {
	height: 100%;
	margin: 0;
}

body {
	font-family: var(--sans-font);
	background: var(--bg-color);
	color: var(--foreground-color);
	overflow: hidden;
	font-size: 16px;
}

h1 {
	margin: 0 0 10px 0;
	font-weight: 600;
	line-height: 1.2;
}

p {
	margin-top: 10px;
	color: rgba(255, 255, 255, 0.4);
}

#titlebar {
	user-select: none;
	display: block;
	position: relative;
	top: 0;
	height: var(--titlebar-height);
	background-color: var(--bg-color);
	border-bottom: 1px solid var(--border-color);
	padding: 0;
	z-index: 99;
}

#main {
	position: absolute;
	top: var(--titlebar-height);
	bottom: var(--status-bar-height);
	left: 0;
	right: 0;
	margin: 0;
	padding: 0;
	overflow-y: hidden;
}

#titlebar {
	color: var(--foreground-color);
}

#window-title {
	margin-right: 135px;
	text-overflow: ellipsis;
	-webkit-app-region: drag;
	display: block;
	align-items: center;
	text-align: center;
	padding: 5px;
	height: var(--titlebar-height);
	overflow: hidden;
	font-family: var(--sans-font);
	font-size: var(--titlebar-font-size);
	z-index: 99;
}

#window-controls {
	display: grid;
	grid-template-columns: repeat(3, 45px);
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
}

#window-controls {
	-webkit-app-region: no-drag;
}

#window-controls .button {
	grid-row: 1 / span 1;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

@media (-webkit-device-pixel-ratio: 1.5),
(device-pixel-ratio: 1.5),
(-webkit-device-pixel-ratio: 2),
(device-pixel-ratio: 2),
(-webkit-device-pixel-ratio: 3),
(device-pixel-ratio: 3) {
	#window-controls .icon {
		width: 10px;
		height: 10px;
	}
}

#window-controls .button {
	user-select: none;
}

#window-controls .button:hover {
	background: rgba(0, 0, 0, 0.1);
}

#window-controls .button:active {
	background: rgba(0, 0, 0, 0.2);
}

#close-button:hover {
	background: #E81123 !important;
}

#close-button:active {
	background: #F1707A !important;
}

#close-button:active .icon {
	filter: invert(1);
}

#min-button {
	grid-column: 1;
}

#max-button,
#restore-button {
	grid-column: 2;
}

#close-button {
	grid-column: 3;
}

#restore-button {
	display: none !important;
}

.maximized #restore-button {
	display: flex !important;
}

.maximized #max-button {
	display: none;
}

::-webkit-scrollbar {
	width: 10px;
}


/* Track */

::-webkit-scrollbar-track {
	background: var(--bg-color);
}


/* Handle */

::-webkit-scrollbar-thumb {
	background: var(--secondary-bg);
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
	background: var(--move-color);
}

#nav {
	border-collapse: collapse;
	display: table;
	position: absolute;
	background: var(--bg-color);
	border-right: 1px solid var(--border-color);
	height: 100vh;
	width: 50px;
	top: 0;
	left: 0;
	z-index: 10;
}

.navbuttons {
	display: block;
	width: 40px;
	height: 40px;
	border: none;
	margin: 5px;
	background: none;
	color: var(--foreground-color);
	font-size: 25px;
	padding: 0;
	align-content: center;
	text-align: center;
	transition: all 0.2s ease-in-out;
}

.navbuttons:hover {
	color: var(--accent-color);
}

#notebook {
	position: absolute;
	right: 0;
	overflow-y: hidden;
	height: 100%;
	width: calc(100% - 50px);
}

.wallname-input {
	margin: 0;
	font-style: italic;
	padding: 2px;
	border-bottom: 1px var(--foreground-color) dashed;
	font-family: var(--sans-font);
}

.wallname-input:focus {
	outline: none;
}

#wall-cont {
	overflow-y: scroll;
	height: calc(100% - 30px);
}

.wall {
	margin: auto;
	max-width: 700px;
	padding: 0;
	height: calc(100% - var(--titlebar-height));
}


#loads {
	position: absolute;
	background: var(--bg-color);
	border-right: 1px solid var(--border-color);
	border-bottom: 1px solid var(--border-color);
	z-index: 10;
	top: 0;
	left: 50px;
	width: 200px;
	margin: 0;
	padding: 0;
}

#library-new {
	font-size: 14px;
	font-family: var(--mono-font);
}

.library-name {
	padding: 5px;
	font-size: 14px;
	font-family: var(--mono-font);
	border: 1px solid var(--border-color);
	border-right: none;
}

h1 {
	font-size: 16px;
	text-align: center;
	padding: 5px;
	font-weight: normal;
}

button:focus {
	outline: 0;
}

.codebox-input span {
	background: none !important;
}

#library-bar {
	width: 100%;
	padding: 5px;
}

#library-new-button {
	width: 28px;
	height: 28px;
}

#library-new {
	padding: 4px;
	border: 1px solid var(--border-color);
	display: block;
	float: left;
	width: calc(100% - 28px);
}

.codebox {
	display: block;
	padding: 0px;
	margin: 15px;
	margin-bottom: 25px;
	overflow: hidden;
	/*transition: all 0.2s ease-in-out; */
	border-radius: 0px;
	border: 1px solid var(--shadow-color);
	box-shadow: 5px 5px 0px 0px var(--shadow-color);
}

.codebox.sortable-chosen {
	border: 1px solid var(--accent-color);
	box-shadow: 5px 5px 0px 0px var(--accent-color);
}

.codebox:hover .codebox-bar {
	opacity: 1;
}

.codebox-input,
.codebox-input-print {
	padding: 10px;
	font-family: var(--mono-font);
	tab-size: 4;
	min-height: 2.5em;
	outline: none;
	white-space: pre;
}

.codebox-input {
	color: #00000000;
	padding-left: calc(3em - 3px);
	caret-color: var(--foreground-color);
}

.codebox-input::selection,
.codebox-input div::selection,
.codebox-input span::selection {
	color: #00000000;
	background-color: var(--secondary-foreground);
}

.codebox-input-cont {
	border: 1px solid var(--shadow-color);
	background-color: var(--input-color);
	border-left: none;
	border-right: none;
	position: relative;
	white-space: nowrap;
	overflow: hidden;
	overflow-x: auto;
}

.codebox-input-print {
	counter-reset: line;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	pointer-events: none;
}

.error-cont {
	padding: 5px;
	font-size: 14px;
	font-family: inherit;
	font-style: normal;
	font-weight: bold;
	color: #da3131;
}

.spinner {
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.dict-cont {
	display: inline-block;
	transition: all 0.5s ease;
}

td {
	vertical-align: middle;
}

.dict-key {
	padding: 5px;
	font-size: 16px;
	font-weight: bold;
	color: var(--button-hover-color);
}

.dict-value {
	padding: 5px;
	border-left: 2px solid var(--border-color);
	border-radius: 10px;
}

.codebox-output>.vector-cont,
.codebox-output>.dict-cont {
	filter: blur(1px);
	max-height: 15px;
	overflow: hidden;
	width: 100%;
}

.vector-cont {
	display: inline-block;
	counter-reset: line;
	transition: all 0.5s ease;
}

.codebox-output>.vector-cont:hover,
.codebox-output>.dict-cont:hover {
	filter: none;
	max-height: 50vh;
	overflow-y: auto;
}

.pinned-box>.vector-cont,
.pinned-box>.dict-cont {
	filter: none;
	max-height: 50vh;
	overflow-y: auto;
}

.pinned-input {
	display: none;
}

.pinned-bar {
	background-color: var(--pin-color);
	opacity: 1 !important;
}

.vector-cont>div {
	padding: 4px;
	border-radius: 4px;
	transition: all 0.1s ease-in;
}

.vector-cont>div:hover {
	background-color: var(--select-color);
}

.vector-cont>div:before {
	counter-increment: line;
	content: counter(line);
	display: inline-block;
	border-right: 1px solid var(--secondary-bg);
	padding: 0 .5em;
	width: 2em;
	font-size: 14px;
	align-self: center;
	margin-right: .5em;
	color: var(--secondary-foreground);
}

.type-datum {
	font-size: 14px;
	font-style: italic;
	color: var(--secondary-foreground);
}

.codebox-input-print>div,
.codebox-input {
	display: block;
	line-height: 1.5rem;
}

.codebox-input-print>div::before {
	counter-increment: line;
	content: counter(line);
	display: inline-block;
	border-right: 1px solid var(--secondary-bg);
	font-size: 14px;
	height: 1.5em;
	padding: 0;
	width: 2em;
	margin-right: .5em;
	color: var(--secondary-foreground);
}

.null-datum {
	color: #ccc;
}

.runbutton {
	float: left;
}

.closebutton {
	float: right;
}

.codebox-output {
	font-family: var(--mono-font);
	padding: 5px;
}

.codebox-print {
	white-space: pre-wrap;
	font-family: var(--mono-font);
	font-style: italic;
	color: var(--secondary-foreground);
	padding: 5px;
	tab-size: 4;
}

.codebox-bar {
	/*background-color: #c5c3c6;*/
	opacity: 0.2;
	height: 20px;
	margin: 0;
	transition: all 0.2s ease-in-out;
	display: block;
}

.cb-button {
	display: block;
	width: 20px;
	height: 20px;
	border: none;
	margin: 0px;
	background: none;
	color: var(--accent-color);
	font-size: 10px;
	padding: 0;
	align-content: center;
	text-align: center;
	transition: all 0.25s ease-in-out;
}

.cb-button:hover {
	color: var(--button-hover-color);
}

.running-thread {
	color: var(--accent-color);
	font-size: 12px;
	font-style: italic;
	vertical-align: middle;
	margin-top: -5px;
	margin-left: 15px;
	font-family: var(--mono-font);
}

#upperbar {
	margin: 0;
	padding: 0;
	height: 30px;
	background-color: var(--shadow-color);
}

#addcont {
	margin: 0;
	padding: 0;
	display: block;
	float: right;
}

#newtab {
	display: inline-block;
	margin: 0;
	padding: 4px;
	height: 30px;
	width: 30px;
	background: none;
	border: none;
	color: var(--secondary-foreground);
	outline: none;
	transition: all 0.1s ease-in-out;
}

#newtab:hover {
	color: white;
}

#tabs {
	margin: 0;
	padding: 0;
	height: 30px;
	display: flex;
	float: left;
	width: calc(100% - 30px);
	white-space: nowrap;
	overflow-x: scroll;
	overflow-y: hidden;
	-ms-overflow-style: none;
	/* IE and Edge */
	scrollbar-width: none;
	/* Firefox */
}

#tabs::-webkit-scrollbar {
	display: none;
}

.closetab {
	display: inline-block;
	opacity: 0;
	margin: 0;
	padding: 4px;
	padding-right: 10px;
	padding-left: 0;
	height: 30px;
	width: 30px;
	background: none;
	border: none;
	color: #ff6666;
	outline: none;
	transition: all 0.1s ease-in-out;
}

.opentab {
	margin: 0;
	padding: 4px;
	padding-right: 5px;
	display: inline-block;
	height: 30px;
	background: none;
	border: none;
	color: inherit;
	outline: none;
}

.opentab i {
	padding-right: 10px;
}

.tablinks:hover>.closetab {
	opacity: 1;
}

.tablinks {
	margin: 0;
	padding: 0;
	display: block;
	float: left;
	height: 30px;
	background: var(--secondary-bg);
	border: none;
	border-right: 1px var(--button-hover-color) solid;
	border-bottom: 1px var(--button-hover-color) solid;
	color: var(--button-hover-color);
	text-align: center;
}

.tablinks .tab-icon {
	margin: 0;
	padding: 4px;
	padding-left: 10px;
	display: inline-block;
	height: 30px;
	font-size: 12px;
	color: var(--move-color);
}

.selectedtab .tab-icon {
	color: var(--accent-color);
}

.selectedtab {
	background: var(--bg-color);
	color: var(--foreground-color);
	border-bottom: none;
}

/* Dropdown Button */
.dropbtn {
	background-color: var(--bg-color);
	color: var(--button-hover-color);
	padding: 6px;
	font-family: var(--sans-font);
	font-size: var(--titlebar-font-size);
	height: var(--titlebar-height);
	border: none;
}

#menubar {
	z-index: 98;
	display: block;
	float: left;
	height: var(--titlebar-height);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
	top: -1px;
	position: relative;
	display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	padding-top: 5px;
	padding-bottom: 5px;
	display: none;
	position: absolute;
	background-color: var(--secondary-bg);
	min-width: 250px;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
	z-index: -1;
}

.dropdown-content table {
	border-collapse: collapse;
	width: 100%;
	padding: 0;
	margin: 0;
	border: none;
	color: var(--foreground-color);
	font-size: var(--titlebar-font-size);
}

.menu-key {
	padding: 5px;
	padding-left: 15px;
	text-align: left;
}

.menu-shortcut {
	padding: 5px;
	padding-right: 15px;
	text-align: right;
}

/* Change color of dropdown links on hover */
.dropdown-content tr:hover {
	cursor: pointer;
	background-color: var(--secondary-foreground);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
	display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
	background-color: var(--secondary-bg);
}

hr {
	background-color: var(--border-color);
	height: 1px;
	margin: 5px;
	border: none;
}

#status-bar {
	user-select: none;
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: var(--status-bar-height);
	background-color: var(--button-hover-color);
	color: var(--bg-color);
	font-size: 12px;
}

#status-icon {
	display: inline-block;
	background-color: var(--accent-color);
	color: var(--bg-color);
	height: var(--status-bar-height);
	width: 30px;
	text-align: center;
	font-size: 11px;
	padding: 3px;
}

#status-bar span {
	margin-right: 15px;
}

#status-operation {
	font-style: italic;
}

#status-wallname {
	font-weight: bold;
}

#favicon {
	height: calc(var(--titlebar-height) - 10px);
	float: left;
	margin: 5px;
	margin-right: 10px;
	margin-left: 10px;
}